.icons-wrapper {
	padding: 30px 0;
	display: flex;
	column-gap: 30px;
}

.icon {
	fill: transparent;
	stroke: transparent;
	width: 34px;
	height: 34px;
}

.icon--logo {
	fill: var(--white);
	width: 80px;
	height: 80px;
}

.icon--leetcode,
.icon--stepik,
.icon--codewars,
.icon--github {
	border-radius: 50%;
	fill: var(--white);
}

.icon--stepik {
	background-color: var(--white);
}

.icon--github-dark {
	fill: var(--text-color);
	width: 24px;
	height: 24px;
	
}